@model List<Steller_Portfolio.Models.TblMessage>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h2>Yeni Mesajlar</h2>

<a class="btn btn btn-outline-dark" href="/Message/ReadMessage">Okunan Mesajlar</a>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen Ad Soyad</th>
        <th>Gönderen E Mail</th>
        <th>Sil</th>
        <th>Mesajı Aç</th>
      
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.NameSurname</td>
            <td>@item.Email</td>

            <td><a href="/Message/DeleteMessage/@item.MessageId" class="btn btn btn-outline-danger">SİL</a></td>
            <td><a href="/Message/MessageDetail/@item.MessageId" class="btn btn btn-outline-success">Mesajı Aç</a></td>
       
        </tr>
    }


</table>


